
<div id="carousel-example" class="carousel slide separator" data-ride="carousel">
  <!-- Indicators -->
  <div class="carousel-wrapper">
    <h2>Categories</h2>
    <ol class="carousel-indicators">
      <span data-target="#carousel-example" data-slide-to="0">Tiger</span>
      <span data-target="#carousel-example" data-slide-to="1">Balloon</span>
      <span data-target="#carousel-example" data-slide-to="2" class="active">Tree</span>
    </ol>
  </div>
  <!-- Wrapper for slides -->
  <div class="carousel-inner" role="listbox">
    <div class="item active">
      <div class="row">
        <div class="col-sm-6">
          <div class="img-wrapper">
            <img src="http://kids.nationalgeographic.com/content/dam/kids/photos/articles/Nature/Q-Z/siberian-tiger-profile.jpg">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="carousel-caption">
            <h2>Tiger</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Consequatur, laboriosam mollitia, excepturi ad assumenda impedit commodi dolore nulla adipisci est ratione incidunt doloribus, nesciunt minus deserunt facere fugit!.</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-sm-6">
          <div class="img-wrapper">
            <img src="http://www.govisitcostarica.com/images/photos/full-hot-air-balloons-near-arenal.jpg">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="carousel-caption">
            <h2>Balloon</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Accusantium voluptatibus voluptatem dolore repudiandae rem vel saepe illum error totam. Tenetur suscipit, magnam odio magni ab nam mollitia velit dolores laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Asperiores porro, sapiente, explicabo distinctio id dolorem. Cupiditate porro aliquid vitae labore ducimus nisi dolorem deleniti est. Numquam aspernatur quisquam repudiandae voluptatem!</p>
          </div>
        </div>
      </div>
    </div>
    <div class="item">
      <div class="row">
        <div class="col-sm-6">
          <div class="img-wrapper">
            <img src="http://www.earthrandom.com/wp-content/uploads/2013/01/Virginia1.jpg">
          </div>
        </div>
        <div class="col-sm-6">
          <div class="carousel-caption">
            <h2>Tree</h2>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Beatae optio expedita asperiores nesciunt cum nisi, eveniet atque quis minus vero quas magni assumenda deserunt, sint obcaecati, ea cupiditate. Voluptatibus, labore. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores ratione doloribus, id provident hic. Dolorum ratione suscipit enim minus repellat. Alias iure aperiam cum nulla aut molestias blanditiis explicabo reprehenderit.</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
