<script>
  $('.searchButton').on('click',function(){
  alert('You clicked search button');
});
</script>

<form class="search">
  <input class="searchTerm" placeholder="Enter your search term ..." /><input class="searchButton" type="submit" />
</form>
