
<!-- Footer -->
<footer class="page-footer font-small">

  <!-- Footer Links -->
  <div class="container-fluid text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-6 mt-md-0 mt-3">

        <!-- Content -->
        <h5 class="text-uppercase">
          Soluciones integrales de audio, multimedia, sonido ambiental (indoor & outdoor) y cine en casa.
        </h5>
        <p>Manuel Güemes Santa Cruz de la Sierra, Bolivia.</p>
        <p>comercial@homebeat.com.bo</p>
        <i class="fab fa-facebook-square fa-2x"></i>
        <i class="fab fa-instagram fa-2x"></i>
        <i class="fab fa-youtube-square fa-2x"></i>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none pb-3">

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase">Encuentra Rapido</h5>

        <ul class="list-unstyled ftr">
          <li>
            <a href="#!">Pro Audio</a>
          </li>
          <li>
            <a href="#!">Home Audio</a>
          </li>
          <li>
            <a href="#!">Amplificadores</a>
          </li>
          <li>
            <a href="#!">TV/Monitores</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->

      <!-- Grid column -->
      <div class="col-md-3 mb-md-0 mb-3">

        <!-- Links -->
        <h5 class="text-uppercase"></h5>

        <ul class="list-unstyled ftr">
          <li>
            <a href="#!">Multimedia</a>
          </li>
          <li>
            <a href="#!">Audifonos</a>
          </li>
          <li>
            <a href="#!">Cables/Accesorios</a>
          </li>
     <!--      <li>
            <a href="#!">TV/Monitores</a>
          </li> -->
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <!-- Copyright -->

  <div class="footer-copyright text-center py-3">© HomeBeat - All Rights Reserved

  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
