    <div class="cd-tab-filter-wrapper hidden-xs hidden-sm">
      <div class="cd-tab-filter">
        <ul class="cd-filters">
          <li class="placeholder">
            <a data-type="all" href="#0">All</a> <!-- selected option on mobile -->
          </li>
          <li class="filter"><a class="selected" href="items" data-type="all">Todo</a></li>
          <li class="filter" data-filter=".color-1"><a href="#0" data-type="color-1">Pro Audio</a></li>
          <li class="filter" data-filter=".color-2"><a href="#0" data-type="color-2">Home Audio</a></li>
          <li class="filter" data-filter=".color-3"><a href="#0" data-type="color-3">Amplificadores</a></li>
          <li class="filter" data-filter=".color-4"><a href="#0" data-type="color-4">TV/Monitores</a></li>
          <li class="filter" data-filter=".color-5"><a href="#0" data-type="color-5">Multimedia</a></li>
          <li class="filter" data-filter=".color-6"><a href="#0" data-type="color-6">Audífonos</a></li>
          <li class="filter" data-filter=".color-7"><a href="#0" data-type="color-7">Cables/Accesorios</a></li>
        </ul> <!-- cd-filters -->
      </div> <!-- cd-tab-filter -->
    </div> <!-- cd-tab-filter-wrapper -->
