<script>
  $(document).ready(function () {
    var itemsMainDiv = ('.MultiCarousel');
    var itemsDiv = ('.MultiCarousel-inner');
    var itemWidth = "";

    $('.leftLst, .rightLst').click(function () {
      var condition = $(this).hasClass("leftLst");
      if (condition)
        click(0, this);
      else
        click(1, this)
    });

    ResCarouselSize();




    $(window).resize(function () {
      ResCarouselSize();
    });

    //this function define the size of the items
    function ResCarouselSize() {
      var incno = 0;
      var dataItems = ("data-items");
      var itemClass = ('.item');
      var id = 0;
      var btnParentSb = '';
      var itemsSplit = '';
      var sampwidth = $(itemsMainDiv).width();
      var bodyWidth = $('body').width();
      $(itemsDiv).each(function () {
        id = id + 1;
        var itemNumbers = $(this).find(itemClass).length;
        btnParentSb = $(this).parent().attr(dataItems);
        itemsSplit = btnParentSb.split(',');
        $(this).parent().attr("id", "MultiCarousel" + id);


        if (bodyWidth >= 1200) {
          incno = itemsSplit[3];
          itemWidth = sampwidth / incno;
        }
        else if (bodyWidth >= 992) {
          incno = itemsSplit[2];
          itemWidth = sampwidth / incno;
        }
        else if (bodyWidth >= 768) {
          incno = itemsSplit[1];
          itemWidth = sampwidth / incno;
        }
        else {
          incno = itemsSplit[0];
          itemWidth = sampwidth / incno;
        }
        $(this).css({ 'transform': 'translateX(0px)', 'width': itemWidth * itemNumbers });
        $(this).find(itemClass).each(function () {
          $(this).outerWidth(itemWidth);
        });

        $(".leftLst").addClass("over");
        $(".rightLst").removeClass("over");

      });
    }


    //this function used to move the items
    function ResCarousel(e, el, s) {
      var leftBtn = ('.leftLst');
      var rightBtn = ('.rightLst');
      var translateXval = '';
      var divStyle = $(el + ' ' + itemsDiv).css('transform');
      var values = divStyle.match(/-?[\d\.]+/g);
      var xds = Math.abs(values[4]);
      if (e == 0) {
        translateXval = parseInt(xds) - parseInt(itemWidth * s);
        $(el + ' ' + rightBtn).removeClass("over");

        if (translateXval <= itemWidth / 2) {
          translateXval = 0;
          $(el + ' ' + leftBtn).addClass("over");
        }
      }
      else if (e == 1) {
        var itemsCondition = $(el).find(itemsDiv).width() - $(el).width();
        translateXval = parseInt(xds) + parseInt(itemWidth * s);
        $(el + ' ' + leftBtn).removeClass("over");

        if (translateXval >= itemsCondition - itemWidth / 2) {
          translateXval = itemsCondition;
          $(el + ' ' + rightBtn).addClass("over");
        }
      }
      $(el + ' ' + itemsDiv).css('transform', 'translateX(' + -translateXval + 'px)');
    }

    //It is used to get some elements from btn
    function click(ell, ee) {
      var Parent = "#" + $(ee).parent().attr("id");
      var slide = $(Parent).attr("data-slide");
      ResCarousel(ell, Parent, slide);
    }

  });
</script>



<div class="container dark-grey-text mt-5" style="margin-top: 180px !important">


  <!--Grid row-->
  <div class="row wow fadeIn">


    <!--Grid column-->
    <div class="col-md-6 mb-4">


      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/14.jpg" class="img-fluid" alt="">


    </div>
    <!--Grid column-->


    <!--Grid column-->
    <div class="col-md-6 mb-4">


      <!--Content-->
      <div class="p-4">


        <div class="mb-3">
          <a href="">
            <span class="badge purple mr-1">Category 2</span>
          </a>
          <a href="">
            <span class="badge blue mr-1">New</span>
          </a>
          <a href="">
            <span class="badge red mr-1">Bestseller</span>
          </a>
        </div>


        <p class="lead">
          <span class="mr-1">
            <del>$200</del>
          </span>
          <span>$100</span>
        </p>


        <p class="lead font-weight-bold">Description</p>


        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Et dolor suscipit libero eos atque quia ipsa
          sint voluptatibus!
        Beatae sit assumenda asperiores iure at maxime atque repellendus maiores quia sapiente.</p>


        <form class="d-flex justify-content-left">
          <!-- Default input -->
          <input type="number" value="1" aria-label="Search" class="form-control" style="width: 100px">
          <button class="btn btn-primary btn-md my-0 p" type="submit">Add to cart
            <i class="fas fa-shopping-cart ml-1"></i>
          </button>


        </form>


      </div>
      <!--Content-->


    </div>
    <!--Grid column-->


  </div>
  <!--Grid row-->


  <hr>


  <!--Grid row-->
  <div class="row d-flex justify-content-center wow fadeIn">


    <!--Grid column-->
    <div class="col-md-6 text-center">


      <h4 class="my-4 h4">Additional information</h4>


      <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Natus suscipit modi sapiente illo soluta odit
        voluptates,
      quibusdam officia. Neque quibusdam quas a quis porro? Molestias illo neque eum in laborum.</p>


    </div>
    <!--Grid column-->


  </div>
  <!--Grid row-->


  <!--Grid row-->
  <div class="row wow fadeIn">


    <!--Grid column-->
    <div class="col-lg-4 col-md-12 mb-4">


      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/11.jpg" class="img-fluid" alt="">


    </div>
    <!--Grid column-->


    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">


      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/12.jpg" class="img-fluid" alt="">


    </div>
    <!--Grid column-->


    <!--Grid column-->
    <div class="col-lg-4 col-md-6 mb-4">


      <img src="https://mdbootstrap.com/img/Photos/Horizontal/E-commerce/Products/13.jpg" class="img-fluid" alt="">


    </div>
    <!--Grid column-->


  </div>
  <!--Grid row-->


</div>

<%= render 'shared/carousel' %>

